* {
  margin:0;
  padding:0;
}

h1{

}


body{
  background-image: url('purple_paper.jpg');
  text-align: center;

}

img{
  padding: 30pt;
}

p{
  /* font-family: sofia-pro, sans-serif; */
  padding: 15pt;
  text-align: center;
  font-size: 40pt;

}

.card{
  margin-left: 350pt;
  margin-right: 350pt;
  font-size: 17pt;
  color: #fff1db;
  font-family: quicksand,sans-serif;
  font-weight: 700;
  font-style: normal;
}

.title{
  color: #fff1db;
  font-size: 50pt;
  font-family: cooper-black-std,serif;
  font-weight: 400;
  font-style: normal;
}

.navbar{
  margin-top: 22px;


}

.nav{
  margin: auto;
  width: 100%;
  display: inline-block;
  text-align: center;
}

li {
  display: inline;
}

.navitem{
  color: #fff1db;
  text-align: center;
  font-family: cooper-black-std,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20pt;
  list-style-type: none;
  margin: auto 90px;
  text-decoration: none;
}

.navitem:hover{
  color: #ebc634;
  font-style: italic;
}
